@page "/"
@layout ArcHome
@inject NavigationManager Link

<div class="arc-homepage-introduction">
    <h2>Applikationer til arkivering af data</h2>
    <p>Du kan her finde applikationer, der hjælper dig med at arkivere data. Alle applikationer afvikles i browseren på din lokale maskine, og der sker ingen transmittering af data til servere.</p>
</div>

<div class="arc-content-subsection">Vælg applikation</div>
<button type="button" class="arc-box-small" @onclick="@LinkHomeMetadata">Metadata</button>
<button type="button" class="arc-box-small" @onclick="@LinkHomeRegneark">Regneark</button>
<button type="button" class="arc-box-small" @onclick="@LinkHomeSurveyData">Survey data</button>

<p></p>

<div class="arc-content-subsection">Vedrørende din brug</div>
<button type="button" class="arc-box-small" @onclick="@LinkServicevilkaar">Servicevilkår</button>
<button type="button" class="arc-box-small" @onclick="@LinkDatabeskyttelse">Databeskyttelse</button>

@code {
    public void LinkHomeMetadata()
    {
        Link.NavigateTo("home-metadata");
    }
        public void LinkHomeRegneark()
    {
        Link.NavigateTo("home-regneark");
    }
    public void LinkHomeSurveyData()
    {
        Link.NavigateTo("home-surveydata");
    }
    public void LinkServicevilkaar()
    {
        Link.NavigateTo("servicevilkaar");
    }
    public void LinkDatabeskyttelse()
    {
        Link.NavigateTo("databeskyttelse");
    }
}
