<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(ArcPage)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Side ikke fundet</PageTitle>
        <LayoutView Layout="@typeof(ArcPage)">
            <p role="alert">Beklager, der er intet her.</p>
        </LayoutView>
    </NotFound>
</Router>
