@inherits LayoutComponentBase
@inject NavigationManager Link

<div class="arc-topmenu-container">
    <div class="arc-topmenu">
        <ul>
            <li class="arc-topmenu-dropdown">
            <li><button class="arc-topmenu-button" @onclick="@LinkMetadata">Metadata</button></li>
                <div class="arc-topmenu-dropdown-content">
                    <button class="arc-topmenu-dropdown-content-button" @onclick="@LinkVisArchiveIndex">Vis archiveIndex</button>
                </div>
            </li>
            <li class="arc-topmenu-dropdown">
                <button class="arc-topmenu-dropdown-button" @onclick="@LinkHomeRegneark">Regneark</button>
                <div class="arc-topmenu-dropdown-content">
                    <button class="arc-topmenu-dropdown-content-button" @onclick="@LinkKonverterRegneark">Konverter regneark</button>
                    <button class="arc-topmenu-dropdown-content-button" @onclick="@LinkValiderRegneark">Valider regneark</button>
                </div>
            </li>
            <li><button class="arc-topmenu-button" @onclick="@LinkSurveyData">Survey data</button></li>
            <li><button class="arc-topmenu-button" @onclick="@LinkServicevilkaar">Servicevilkår</button></li>
            <li><button class="arc-topmenu-button" @onclick="@LinkDatabeskyttelse">Databeskyttelse</button></li>
        </ul>
    </div>
</div>

@code {
    public void LinkMetadata()
    {
        Link.NavigateTo("/wwwroot/Metadata");
    }
    public void LinkVisArchiveIndex()
    {
        Link.NavigateTo("/wwwroot/Metadata/VisArchiveIndex");
    }
    public void LinkHomeRegneark()
    {
        Link.NavigateTo("/wwwroot/Regneark/HomeRegneark");
    }
    public void LinkKonverterRegneark()
    {
        Link.NavigateTo("/wwwroot/Regneark/KonverterRegneark");
    }
    public void LinkValiderRegneark()
    {
        Link.NavigateTo("/wwwroot/Regneark/ValiderRegneark");
    }
    public void LinkSurveyData()
    {
        Link.NavigateTo("/wwwroot/SurveyData");
    }
    public void LinkServicevilkaar()
    {
        Link.NavigateTo("/wwwroot/Servicevilkaar");
    }
    public void LinkDatabeskyttelse()
    {
        Link.NavigateTo("/wwwroot/Databeskyttelse");
    }
}
